# Test files
tt.*
.tests
foo.*
debug
.repro
data

# Logs
*.log

# Vim tags
doc/tags

# Backup files
*.swp
*.swo
*~

# System
.DS_Store

# Plugins (auto-install)
.config/nvim/plugin/
.config/tmux/plugins/

# Tmux resurrect backups
.config/tmux/resurrect/

# Hyprland local
.config/hypr/local.conf

# Current theme
.config/hypr/themes/current.conf
.config/kitty/themes/current.conf
.config/nvim/themes/current
.config/rofi/current.rasi
.config/waybar/themes/current.css
