@import "colors/everforest.css";

* {
  border-radius: 0px;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 100%;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  font-weight: bold;
  min-height: 0;
  padding: 0;
  margin: 0;
}

window#waybar,
window#waybar.empty,
window#waybar.empty #window {
  background-color: transparent;
  padding: 0px;
  border: 0px;
}

tooltip {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 12px;
  padding: 8px 16px;
}

tooltip label {
  color: @fg;
}

.modules-center,
.modules-left,
.modules-right {
  background-color: @bg1;
  border-radius: 12px;
  padding: 0 8px;
}

#workspaces button {
  color: @bg5;
  box-shadow: none;
  text-shadow: none;
  padding: 1px 16px 0px;
  border-radius: 8px;
  transition: 0.3s ease;
}

#workspaces button:hover {
  color: @bg_green;
}

#workspaces button.active {
  color: @bg1;
  background-color: @fg;
}

#workspaces button.urgent {
  color: @purple;
  border-radius: 8px;
}

#workspaces button.persistent {
  border-radius: 8px;
}

#battery,
#pulseaudio,
#network,
#clock,
#language,
#custom-notification,
#custom-arch,
#bluetooth,
#workspaces,
#window,
#cpu,
#mpris {
  padding: 6px 14px;
}

#pulseaudio {
  color: @yellow;
}

#network {
  color: @purple;
}

#battery {
  color: @green;
}

#mpris {
  color: @aqua;
}

#bluetooth {
  color: @blue;
}

#custom-separator {
  color: @bg5;
}

#custom-notification {
  background-color: alpha(@purple, 0.75);
  border-radius: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 8px;
  padding-left: 15px;
  margin: 0 0 0 5px;
}

#custom-arch {
  color: @blue;
}

#battery.critical:not(.charging) {
  color: #f53c3c;
}
